	* {
		font-family: 'Open Sans', sans-serif;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	
	.body {
		font-family: 'Open Sans', sans-serif;
		background: linear-gradient(to right, #c5c5c5, white, white, white, white, white, white, white, white, white, white, white, white, #c5c5c5);
	}

	.h1 {
		color: "dark-green";
	}

	.footer {
		color: silver;
	}

	.main {
		max-width: 1000px;
		margin: 0 auto;
		font-family: 'Open Sans', sans-serif;
		background-color: white;
	}

	.navigations {
		background-image:radial-gradient(rgb(27, 151, 63),rgb(34, 118, 55));
		padding: 15px;
		margin-bottom: 20px;
		text-align: center;
	}

	.navigations__link {
		color: white;
		display: inline-block;
		text-decoration: none;
		border-radius: 20px;
		background-image:radial-gradient(rgb(27, 151, 63),rgb(25, 107, 46));
		padding: 15px;
		font-weight: 100;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.navigations__link:hover {
		background-image:radial-gradient(rgb(27, 151, 63),rgb(28, 83, 41));
	}

	.navigations__link2 {
		color: white;
		text-align: right;
		margin-right: 40px;
		align-items: right;
		margin-right: 90px;
		text-decoration: none;
		border-radius: 20px;
		background-color: darkolivegreen;
		padding: 15px;

	}

	.obramowka {
		padding: 30px;
		border: 2px #ccc solid;
		margin-bottom: 15px;
		border-radius: 40px;
		background-image:radial-gradient(rgb(206, 206, 206),rgb(255, 255, 255));
	}
	
	.obramowka6 {
		padding: 30px;
		border: 2px #ccc solid;
		margin-bottom: 15px;
		border-radius: 40px;
		background-image:radial-gradient(rgb(206, 206, 206),rgb(255, 255, 255));
	}

	.obramowka2 {
		padding: 30px;
		border: 2px #ccc solid;
		margin-bottom: 15px;
		border-radius: 40px;
		background-image:radial-gradient(rgb(206, 206, 206),rgb(255, 255, 255));
	}

	.obramowka3 {
		padding: 20px;
		border: 2px #ccc solid;
		margin-bottom: 15px;
		border-radius: 40px;
		background-image:radial-gradient(rgb(206, 206, 206),rgb(255, 255, 255));
	}

	.tytul {
		color: #3F403F;
		text-align: center;
	}

	.tekst1 {
		color: maroon;
	}

	.mainheading {
		color: black;
		text-align: center;
		font-weight: 100;
		font-size: 25px;
	}

	.tekst2 {
		background: green;
		color: white;
		padding: 80px;
		border-width: 30px;
		border-radius: 50%;
		display: inline-block;
		margin-right: 90px;
	}

	.foto1 {
		width: 100%;
	}

	.foto2 {
		padding: 20px;
		width: 40%;
		align-items: center;
		display: inline;
		text-align: center;
		margin: auto;
		display: block;
	}


	.foto3 {
		width: 100%;
		align-items: center;
		display: inline;
	}

	.foto4 {
		width: 100%;
		align-items: center;
		display: inline;
	}

	.foto5 {
		width: 100%;
		align-items: center;
		display: inline;
	}

	.foto6 {
		width: 100%;
		align-items: center;
		display: inline;
	}

	.foto7 {
		width: 100%;
		align-items: center;
		display: inline;
	}

	.foto8 {
		width: 100%;
		align-items: center;
		display: inline;
	}

	.odnosnik {
		color: grey;
		align-items: center;
		text-align: center;
		display: block;
		text-decoration: none;
	}

	.podinf {
		text-align: center;
		font-weight: 100;
		line-height: 200%;

	}

	.podinf2 {
		font-family: 'Open Sans', sans-serif;
		font-weight:100;
	}

	.lok {
		text-align: center;
		font-weight: 100;
	}

	.lista {
		margin-left: 30px;
		font-weight: 100;
	}

	body {
		background: white;
		
	}

	.form {
		margin: 50px auto;
		width: 300px;
		padding: 30px 25px;
		background: white;
		
	}

	h1.login-title {
		color: #666;
		margin: 0px auto 25px;
		font-size: 25px;
		font-weight: 300;
		text-align: center;
	}

	.link {
		color: #666;
		font-size: 15px;
		text-align: center;
		margin-bottom: 0px;
		
	}

	.link a {
		color: #666;
	}

	h3 {
		font-weight: normal;
		text-align: center;
	}

	.tekst3 {
		background-image:radial-gradient(rgb(27, 151, 63),rgb(34, 118, 55));
		color: white;
		padding: 30px;
		border-width: center;
		border-radius: 50px 20px;
		display: inline-block;
		margin: 20px;
		text-align: center;
		font-weight: 100;
	}

	.artykuly {
		text-align: center;
	}

	.footer1 {
		text-align: center;
		background-color: whitesmoke;
		padding: 30px;
		
	}

	.footer1tekst {
		font-weight: 100;
		font-size: 14px;
	}
	
	.obramowkaInfo {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media (max-width: 500px) {
		.navigations__link {
			font-size: 12px;
			text-align: center;
			line-height: 10px;
			margin-top: 10px;
		}
		.obramowka3 {
			width: 300px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		.mainheading {
			font-size: 20px;
		}
		.tytul {
			font-size: 20px;
		}
		.foto2 {
			width: 250px;
		}
		.tekst3 {
			font-size: 14px;
		}
		.podinf2 {
			font-size: 15px;
			line-height: 22px;
		}
		.obramowka2 {
			border-radius: 0px;
		}
		.obramowka {
			border-radius: 0px;
		}
		.lista {
			font-size: 20px;
			line-height: 30px;
		}
		.body {
			background: linear-gradient(to right, white, white, white, white, white, white, white, white, white, white, white, white, white, white);
		}
	}
	@media (min-width: 1300px) and (max-width: 2000px) {
		.ullista {
			margin-bottom: 50px;
			font-size: 25px;
			line-height: 35px;
		}
		.navigations__link {
			font-size: 20px;
			text-align: center;
			line-height: 10px;
			margin-top: 10px;
			padding: 25px;
			border-radius: 50px;
			margin-left: 25px;
			margin-right: 25px;
		}
		.tytul {
			font-size: 27px;
			margin-bottom: 20px;
		}
		.podinf2 {
			font-size: 22px;
			line-height: 30px;
		}
		
	}
